/*mattis css*/
#skapaAnvForm{
    display: none;
}
#loggaAnvForm{
    display: none;
}
#inlaggSkicka{
    margin-top: 5px;
}
#users{
    margin-top: 5px;
}
#innehall{
    margin-top: 5px;
}
#anvSkapKnapp{
    margin-top: 5px;
}

