/*mattis css*/
#Rubrik {
    color: green;
    text-align: center;
}
.delning{
    padding-bottom: 12px;
    padding-top: 12px;
}
#namn{
    margin-left: 70px;
    margin-top: 40px;
}
#email{
    margin-left: 72px;
}
#mobil{
    margin-left: 57px;
}
#gestboksinlegg{
    margin-left: 11px;
}
#pass{
    margin-left: 53px
}
#button{
    margin-left: 232px;
}
